*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
nav{
    background-color: rgb(6,40,99);
    width: 100%;
}
nav img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;;
}
.container{
    background-color: rgb(6,40,99);
    height: 1100px;
    display: block;
}
.input_fields{
    border: 1px solid white;
    width: 33.30%;
    display: block;
    margin: auto;
    height:auto;
    background-color: white;
    border-radius: 30px 30px 30px 0px;
}
.content{
    border: 1px solid white;
    width: 30%;
    display: block;
    height:auto;
}
.head{
    padding-top: 50px;
}
.head h1{
    text-align: center;
    color: rgb(8,62,161);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.head p{
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    }
.content p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 35px;
    padding-top: 40px;
    width: 300px;
    font-weight: bold;
    
}
.content span input{
    width: 370px;
    height: 50px;
    border: 1px solid rgb(237, 242, 247);
    background-color: rgb(237, 242, 247);
    font-size: 16px;
    color: rgb(26, 32, 44);
    border-radius: 4px;
    margin-top: 10px;
    padding-left: 20px;
}
.content span select{
    width: 370px;
    height: 50px;
    border: 1px solid rgb(237, 242, 247);
    background-color: rgb(237, 242, 247);
    font-size: 16px;
    color: rgb(26, 32, 44);
    border-radius: 4px;
    margin: 10px 0px 30px 0px;
    padding-left: 20px;
}
button a{
    text-decoration: none;
    color: white;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 80%;
    border: 1px solid rgb(6, 43, 111);
    background-color:rgb(8,62,158) ;
    color: white;
    border-radius: 10px 10px 10px 0px;
    margin-bottom: 50px;

}
button:hover{
    background-color: rgb(6, 43, 111);
    cursor: pointer;
}
.last p{
    text-align: center;
    padding-top: 30px;
}
.last p a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.last p a:hover{
    opacity: 0.6;
}


/* background items */
.circle p{
    font-size: 250px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 230);
    font-weight: bolder;
}
.dee p{
    font-size: 250px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 231, 46);
    transform: rotate(60deg);
    font-weight: bolder;
}
.dee{
    position: fixed;
    top: -50px;
    right: -130px;
}
.dee_1 p{
    font-size: 250px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 71, 200);
    transform: rotate(60deg);
    font-weight: bolder;
}
.dee_1{
    position: fixed;
    top: 510px;
    left: -80px;
}
.tee p{
    font-size: 200px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(143, 7, 143);
    transform: rotate(240deg);
}
.tee{
    position: fixed;
    top: 520px;
    right: -10px; 
}
.circle{
    position: fixed;
    top: -120px;
    left: -10px;
}

@media(max-width:1320px) {
    .container{
        background-color: rgb(6,40,99);
        height: 1100px;
        display: block;
    }
    .input_fields{
    width: 450px;
    }
    .circle{
        display: none;
    }
    .dee{
        margin-top: -50px;
        margin-right: -5px;
    }
    .dee p{
        font-size: 210px;
       
    }
    .dee_1{
        margin-top: 15px;
        margin-left: -25px;
    }
    .dee_1 p{
        font-size: 205px;
    }
    .tee{
        margin-top: 5px;
        margin-right: -15px;
    }
    .tee p{
        font-size: 160px;
    }
}